*{
	box-sizing: border-box; 
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: sans-serif;
}


section{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

header{
	background-color: #191716;
	color: white; /* more readable on an orange background */
	padding-top: 50px;
	padding-bottom: 50px;
}

#header1{
	background-color: #CACF85;
	color: white; /* more readable on an orange background */
	padding-top: 50px;
	padding-bottom: 50px;
}

#header2{
	background-color: #658E9C;
	color: white; /* more readable on an orange background */
	padding-top: 50px;
	padding-bottom: 50px;
}


#header3{
	background-color: #4D5382;
	color: white; /* more readable on an orange background */
	padding-top: 50px;
	padding-bottom: 50px;
}

#header4{
	background-color: #8CBA80;
	color: white; /* more readable on an orange background */
	padding-top: 50px;
	padding-bottom: 50px;
}

nav{
	width: 100%;
	height: 60px;
	background-color: 	#191716;



}

nav a, nav h3{
	float: left;
	margin: 0px;
	line-height: 60px;
	margin-left: 1em;
	margin-right: 1em;
	text-decoration: none;

}

nav a:hover{
	text-decoration: underline; /* Hover styles to let people know they can click it */
}


#sectionB{
	background-color: #440D0F;


}

#cover{
	width: 400px;
}

#phone{
	width: 300px;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}



/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
}

.g-50{
	width: 50%;
	float: left;
}

.g-30{
	width: 30%;
	float: left;
}

.g-70{
	width: 70%;
	float: left;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}